h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }

article { padding: 0 28px 28px 28px; }
article iframe { display: block; margin: 20px auto; }

section {
  position: relative;
  border-bottom: solid 2px #ddd;
  margin-bottom: 28px;
}
section:before {
  content: '\00a7';
  position: absolute;
  left: 50%;
  bottom: -8px;
  color: #ccc;
  font-size: 28px;
}

.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
