<link rel="stylesheet" media="all" href="https://patient.phreesia.com/resources/buttons/css/payForm.css" />
<form id="phreesia_payForm" name="phreesia_payForm" class="phreesia_payForm phreesia_payForm_med phreesia_payForm_med_orange" action="https://www.phreesia.net/25/patient/Payment.aspx/Start" method="post" style='margin: 0 auto;'>
  <input type="hidden" name="encrypted" value="HAZsjTGGLBWsIOzKerdu05HXEkhuEoRH5fbXi2Bci2WybLY8aM1zNEsGoZyR1cgfcWs6edofivuVlWDhS3HUgyywsLJ81S33m2bm_RtYhn28Q-FMuZvf2cVYspSwG5b_LkItQHHbSsXPy98tDYIfWO52xeW_4wKHhBtK19ZJIfL4p91iHb4jhKZKmf09iP9zfgZ01GVIpUjQxWG2nRxluRR79bpRTeShbt_kdRrVBqKnzhP4K5bePWUXq1QzZYfJi5tiZG8QmaXkXK1Y1YpPzq1lJPo_LMMGoIihLv00E0C9MrkSKc3IiN7Rt-RJq3IuFMD1vXDQGbEc2lJaI1xpu6oj1lh6IQNHy6rmhMp_GRlgSoP25vHYinamIWNM-1VG0">
  <a class="phreesia_butPay" href="javascript:document.getElementById('phreesia_payForm').submit();">Make a Payment</a>
</form>
